*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvatica Neue';
}
.input-box{
  width: 48%;
  height: 2%;
  margin-left: 26%;
  border-radius: 0 0 15px 0;
  
}
.option1:hover{
  background-color: #2E2E2E;
  opacity: 40%;
  color: white;
  cursor: pointer;
}
.bottom-opt:hover{
  background-color: #2E2E2E;
  opacity: 40%;
  color: white;
  cursor: pointer;
}
.input-icon{
  text-align: end;
  padding: 0 5px 5px 0 ;
  display: flex;
  justify-content: end;
}
.arrow-icon{
  color: #df7b39;
}
.sub1{
  border: 1px solid black;
  padding: 2px;
  width: 20%;
  margin-left: 40%;
  font-weight: 500;
  font-size: small;
}
.logo{
  display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    margin: 10px 0 0 10px;
}

.sidnav{
  padding: 0 0 0 10px;
}
.main-sec{
  margin-top: 40px;
}
.sub2{
  border: 1px solid black;
  padding: 2px;
  font-weight: 500;
  font-size: small;
  width: 20%;
}
#otp1{
  color: white;
}
.txt1-main{
  font-size: smaller;
  font-weight: 600;
}
.txt2-main{
  font-size: medium;
  font-weight: 600;
}
.subtext-main{
  font-size: small;
  font-weight: 600;
}
.card{
  width: 15%;
  opacity: 60%;
}
.heding-text{
  background: linear-gradient(90deg,#4F4BEE,#EC7737);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  opacity: 100%;
}
#text-area{
  width: 100%;
  height: 100%;
  border-radius: 0 0 15px 0;
}
::placeholder{
  color: black;
  opacity: 1;
}